
.background{
    -fx-background-color: #1d1d1d;
}
.roboxPanel {     -fx-background-color: 
                      #c3c4c4,
                      linear-gradient(#d6d6d6 50%, white 100%),
                      radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
                  -fx-background-radius: 30;
                  -fx-background-insets: 0,1,1;
                  -fx-text-fill: black;
                  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.roboxPanelLight { -fx-fill: #619ab2;
                   -fx-background-color: #619ab2; }

.roboxBackgroundPanel {
    /*-fx-fill: #619ab2;*/
    -fx-background-color: linear-gradient(from 0.0% 0.0% to 0.0% 100.0%, #6f6f6f 0.0%, #efefef 100.0%);
}

.root {
    -fx-font-family: SourceSansPro-Light;
    -fx-font-size: 12px;
    -fx-text-fill: #000000;
}

.radio-button {
    -fx-font-size: 13px;
}

.titleText {
    -fx-font-size: 24px;
    text-align:center;
    -fx-text-fill: #000000;
    -fx-fill: #000000;
}

.labelText {
    -fx-font-size: 14px;
    -fx-text-fill: #000000;
}

.headControlButton {
    -fx-fill: cadetblue;
}

.gcodeText { -fx-font-family: Courier;
             -fx-font-size: 10px;}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: 
        linear-gradient(#d6d6d6 50%, #767676 100%);
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.projectTabHeader {
    -fx-background-color: #000000;
}

.boundTextField {
    -fx-background-color: -fx-focus-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-color: white;
}

.boundTextField:focused {
    -fx-background-color: #99daff;
}

#gcodeDisplayField
{
    -fx-background-color: grey;
}

.statusLabel {
    -fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.sidePanel {
    -fx-background-color: 
        #737474,
        linear-gradient(darkgrey 50%, #d6d6d6 100%);
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-padding: 10 0 0 0;
}

.sidePanelInset {
    -fx-background-color: 
        #535454,
        linear-gradient(darkgrey 50%, #d6d6d6 100%);
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-padding: 10 0 0 0;
}

.sidePanelSectionTitle {
    -fx-font-size: 18;
}

.sidePanel .separator {
    -fx-padding: 10 0 0 0;
}

.sidePanel .ImageView {
    -fx-padding: 50 0 0 0;
}

.sidePanelVBox {
    -fx-alignment: TOP_CENTER;
    -fx-padding: 10 0 0 0;
}

.sidePanelContainer {
    -fx-pref-width: 280;
    -fx-max-width: 280;
}

.sidePanelGraphic {
    -fx-padding: 50 0 0 0;
}

.sidePanelSubheading {
    -fx-font-size: 14;
}

.sidePanelInformationLabel {
    -fx-font-size: 12;
    -fx-padding: 5 0 0 0;
}

.threeDPane {
    -fx-background-color: 
        #737474,
        linear-gradient(darkgrey 50%, #d6d6d6 100%);
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.printerControlButton {
    -fx-background-color: transparent;
    -fx-padding: -0 -0 -0 -0;
    -fx-background-insets: 0,0 0 0 0, 0 0 0 0, 0 0 0 0;
    -fx-background-radius: 20;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.printerControlButton:hover {
    -fx-background-color: transparent;
    -fx-padding: -0 -0 -0 -0;
    -fx-background-insets: 0,0 0 0 0, 0 0 0 0, 0 0 0 0;
    -fx-background-radius: 20;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-effect: dropshadow(three-pass-box, #000000, 10, 0, 0, 0)
}

.printerControlButton:pressed {
    -fx-background-color: transparent;
    -fx-padding: -0 -0 -0 -0;
    -fx-background-insets: 0,0 0 0 0, 0 0 0 0, 0 0 0 0;
    -fx-background-radius: 20;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-effect: innershadow(three-pass-box, #000000, 10, 0, 0, 0)
}

.rectangularGraphicButton {
    -fx-padding: 0 0 0 0;
    -fx-background-insets: 0,0 0 0 0, 0 0 0 0, 0 0 0 0;
    -fx-background-radius: 20;
    -fx-background-color: white;
}

.rectangularGraphicButton:hover {
    -fx-effect: dropshadow( gaussian , #505050, 12,0,0,0 );
}

.rectangularGraphicButton:pressed {
    -fx-effect: innershadow(three-pass-box, #000000, 10, 0, 0, 0)
}

.rectangularGraphicButton:selected {
    -fx-effect: innershadow(three-pass-box, #000000, 10, 0, 0, 0);
        -fx-stroke: green;
}

.threeDGizmoXAxis {
    -fx-fill: #00cc00;
    -fx-effect: innershadow(three-pass-box, #000000, 10, 0, 0, 0)
}

.threeDGizmoZAxis {
    -fx-fill: #ff0033;
    -fx-effect: innershadow(three-pass-box, #000000, 10, 0, 0, 0)
}

.threeDGizmoRotationRing {
    -fx-fill: #c3c4c4;
    -fx-effect: innershadow(three-pass-box, #000000, 10, 0, 0, 0)
}

.threeDGizmoXYAxis {
    -fx-fill: #6666ff;
    -fx-effect: innershadow(three-pass-box, #000000, 10, 0, 0, 0)
}

.threeDGizmoRotationIndicator {
    -fx-fill: #ffff33;
    -fx-effect: innershadow(three-pass-box, #000000, 10, 0, 0, 0)
}

.threeDGizmoScale {
    -fx-fill: blue;
    -fx-effect: innershadow(three-pass-box, #000000, 10, 0, 0, 0)
}

.threeDGizmoBackground{
    -fx-background-color: transparent;
}

/*.toggle-button {
    -fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    -fx-background-insets: 0,1,4,5;
    -fx-background-radius: 9,8,5,4;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}*/

/*.toggle-button:hover {
    -fx-effect: dropshadow( gaussian , #505050, 2,2,2,2 );
}

.toggle-button:pressed {
    -fx-effect: innershadow(three-pass-box, #000000, 10, 0, 0, 0)
}

.toggle-button:selected {
    -fx-effect: innershadow(three-pass-box, #000000, 10, 0, 0, 0)
}*/

.modalDialogBackground {
    -fx-background-color: 
        #737474,
        linear-gradient(darkgrey 50%, #d6d6d6 100%);
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-padding: 10 0 0 0;
}

.tab-pane {
    -fx-background-color: #c3c4c4
}

.chart {
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.chart-series-line {    
    -fx-stroke-width: 2px;
    -fx-effect: null;
}
 
.default-color0.chart-series-line { -fx-stroke: green; }
.default-color1.chart-series-line { -fx-stroke: yellow; }
.default-color2.chart-series-line { -fx-stroke: darkviolet; }
.default-color0.chart-line-symbol {visibility: hidden;}
.default-color1.chart-line-symbol {visibility: hidden;}
.default-color2.chart-line-symbol {visibility: hidden;}
.default-color3.chart-line-symbol { /* solid diamond */
    -fx-background-color: green;
    -fx-background-radius: 0;
    /*-fx-padding: 7px 5px 7px 5px;*/
    -fx-shape: "M0,3 L5,0 L5,6 L0,3 Z";
}
.default-color4.chart-line-symbol { /* solid diamond */
    -fx-background-color: yellow;
    -fx-background-radius: 0;
    /*-fx-padding: 7px 5px 7px 5px;*/
    -fx-shape: "M0,3 L5,0 L5,6 L0,3 Z";
}
.default-color5.chart-line-symbol { /* solid diamond */
    -fx-background-color: darkviolet;
    -fx-background-radius: 0;
    /*-fx-padding: 7px 5px 7px 5px;*/
    -fx-shape: "M0,3 L5,0 L5,6 L0,3 Z";
}



#ambientTempLegend { -fx-fill: green; }
#bedTempLegend { -fx-fill: yellow; }
#nozzleTempLegend { -fx-fill: darkviolet; }


.metroMenuStrip {
    -fx-pref-height: 80px;
}

.printer-status-list-cell {
    
}

.printer-status-list-cell:selected {
    -fx-background-color: darkslategray;
}

.circularGraphicButton {
    -fx-padding: 0 0 0 0;
    -fx-background-insets: 0,0 0 0 0, 0 0 0 0, 0 0 0 0;
    -fx-background-radius: 30;
    -fx-fill: #000000;    
}

.circularGraphicButton:hover {
    -fx-fill: darkgray;
}

.circularGraphicButton:pressed {
    -fx-fill: white;
}

.circularGraphicButton:selected {
    -fx-fill: white;
}